.film-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.new-form {
  padding: "20px";
  background: "#fff";
  width: "300px";
  font-family: "Arial", sans-serif;
}

.add-new {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}
