.film-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.film-entry {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    outline: inherit;    
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
    font-size: medium;
}

.film-entry:active {
    background-color: aliceblue;
}