.entry {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    outline: inherit;    
    border: black 1px solid;
    border-radius: 8px;
    background-color: white;
    font-size: medium;
}

.entry:active {
    background-color: aliceblue;
}